<div>
  <form>
    <div class="form-group">
      <label for="event-name">Nombre del evento:</label>
      <input id="event-name" type="text"/>
    </div>
    <div class="form-group">
      <label for="date">Fecha: </label>
      <input id="date" type="text"/>
    </div>
    <div class="form-group">
      <label for="time">Hora: </label>
      <input id="time" type="text"/>
    </div>
    <div class="form-group">
      <label for="address">Dirección: </label>
      <input id="address" type="text"/>
    </div>
    <div class="form-group">
      <label for="city">Ciudad: </label>
      <input id="city" type="text"/>
    </div>
    <div class="form-group">
      <label for="country">Pais: </label>
      <input id="country" type="text"/>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-default" (click)="cancel()">Cancelar</button>
  </form>
</div>
